@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


html{
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: rgb(65, 65, 65);
}

header{
    padding: 5px 40px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    top: 0;
    position: sticky;
    z-index: 1000;
}

.logo img{
    width: 100px;
    height: auto;
}

.navegacion ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 30px;
}



.contacto{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: white 1px solid;
    padding: 7px 20px;
    font-weight: 600;
    transition: transform 0.3s ease, background-color 0.3s ;
}

.contacto:hover{
    background-color: white;
    color: black;
    
}

.menu-hamburguesa{
    display: none;
}

.navegacion a{
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.navegacion a::after{  /*animacion de linea subrayado*/
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;

    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease, left 0.3s ease;
}

.navegacion a:hover::after {
    width: 100%;
    left: 0;
}

.navegacion a:hover{
    color: #aaaaaa;
}

/*------------Contacto-----------------------------------*/

/*.contact{
    padding: 4rem 2.5rem;
    max-width: 600px;
    margin: 100px auto;
}

.contact h2{
    text-align: center;
    margin-bottom: 3rem;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.form-contacto .campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form-contacto label{
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.form-contacto input,
.form-contacto textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.form-contacto input:focus,
.form-contacto textarea:focus {
    outline: none;
    border-color: #2e8b57;
}

.form-contacto button{
    width: 100%;
    padding: 0.8rem;
    color: white;
    border: none;
    background-color: #2e8b57;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.form-contacto button:hover{
    background-color: #256f46;
}*/

.contact{
    display: flex;
    flex-direction: column;
}

.contact h1{
    text-align: center;
    font-family: 'Roboto', 'Sans-serif';
    padding: 50px 0px;
    color: white;
}

.container-contacto{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em;
}

.container-contacto img{
    width: auto;
    height: 310px;
    
}



.campo {
    display: flex;
    flex-direction: column;
}

.datos{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-contacto{
    background-color: white;
    padding: 25px 30px;
    border-radius: 7px;
}

.form-contacto label{
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.form-contacto input{
    margin-bottom: 0.8rem ;
}

button{
    width: 100%;
    padding: 0.8rem;
    color: white;
    border: none;
    background-color: #2e8b57;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 22px;
}

/*----------------Footer-------------------------------*/
footer{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: black;
}

footer .links a {
    position: relative;
    text-decoration: none;
    color: white;
    width: fit-content;
}

footer .links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

footer .links a:hover::after {
    width: 100%;
}

.footer-contenido{
    
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15em;
    margin-left: 15em;
}

.ecoapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 10px;
}

.ecoapp img{
    width: 100px;
    height: auto;
    margin-right: 10px;
    
}

.ecoapp h4{
    margin: 0;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;

}

.redes img{
    width: 32px;
    height: auto;
    margin: 0 10px;
}

.unete{
    display: flex;
    flex-direction: column;
    
}

.cont{
    display: flex;
    flex-direction: column;
    text-align: left;
}



.links h4{
    margin-bottom: 25px;
    font-size: 19px;
}

.cont a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
}   

